*{
    padding:0px;
    margin:0px;
    font-family: "Poppins", sans-serif;
}
.maindiv{
    width: 100%;
    height: auto;
    background-color: white;
}
.box1{
    width: 100%;
    height:110px;
    background-color:white;
    display:flex; 
    align-items:center;
    justify-content: space-around;
    gap:5px;
    position: fixed;
    top:0;
    z-index: 2;
}
.logo{
    width:170px;
    height: 30px;
}
.box1 ul , .icons ul{
    margin:0px;
    padding:0px;
    list-style:none}
.box1 ul li{
    display:inline-block;
    position:relative;
    padding-left:20px;
    padding-right:20px;
}
.icons ul li{
    display:inline-block;
    position:relative}
.box1 ul li a{
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    color:black;
    transition: all 0.6s ease;}
.icons ul li a{
    padding:40px 0px;
    font-size:19px;
    color:black }
.box1 ul li a:hover{
    color:red
}
.box1 ul ul{
    position:absolute;
	width: 180px;
    height:auto;
	background:white;
	top:30px;
	border-top:4px solid red;
    border-radius: 7px 7px 3px 3px;
    visibility:hidden;
	transition:all 0.5s ease-in-out;
	opacity:0;
    z-index: 3;
}
.box1 ul ul.submenu::before{
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent red transparent;
    content: "";
    top: -10px;
    left: 13%;
    position: absolute;
    transition: .3s;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}
.box1 ul ul li{
    display:block;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:15px;
}
.box1 ul li:hover>ul{
        opacity:1;
		visibility:visible;
        top:65px
}
.box1 nav ul li.red::before{
        content:"hot";
        width:33px;
        height:18px;
        background-color:red;
        color:white;
        position: absolute;
        text-align: center;
        font-size: 13px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        border-radius: 9px;
        line-height:17px;;
        left:48px;
        top:-17px
}
.box2{
    width: 100%;
    height: 800px;
    background-color: white;
    position: relative;
}
.texture{
    width: 100%;
    height: 101%;
}
.cs1{
    color:#0B1C39;
    font-size:80px;
    position: absolute;
    line-height: 850px;
    left:480px;
    font-family: "Roboto",sans-serif;
}
.box3{
    width: 100%;
    height: 400px;
    background-color:white;
}
.box3 a{
    color:black;
    font-size: 25px;
    text-decoration: none;
    padding:10px 10px;
    line-height:720px
}
.box4{
    width: 80%;
    height: 1000px;
    background-color: white;
    margin-left:150px;
    margin-top:15px;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap:10px
}
.box5{
    width:360px;
    height:360px;
    background-color: black;
    border-bottom:4px solid red ;
    position: relative;
    overflow: hidden;
}
.box5::before{
    content: "Add to cart";
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 20%;
    background-color: red;
    position: absolute;
    bottom:0;
    top:300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor:pointer;
}
.box5:hover:before{
    opacity:1 ;
    visibility: visible;
    top:290px
}
.box5:hover .bi-suit-heart{
    display: block;
    cursor:pointer;
    font-size: 35px;
}
.bi-suit-heart{
    position: absolute;
    font-size: 25px;
    right:5px;
    display: none;
    transition: all 0.6s ease;
}
.box6{
    width:360px;
    height:360px;
    background-color: black;
    border-bottom:4px solid red ;
    position: relative;
    overflow: hidden;
}
.box6::before{
    content: "Add to cart";
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 20%;
    background-color: red;
    position: absolute;
    bottom:0;
    top:300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor:pointer;
}
.box6:hover:before{
    opacity:1 ;
    visibility: visible;
    top:290px
}
.box6:hover .bi-suit-heart{
    display: block;
    cursor:pointer;
    font-size: 35px;
}
.box7{
    width:360px;
    height:360px;
    background-color: black;
    border-bottom:4px solid red ;
    position: relative;
    overflow: hidden;
}
.box7::before{
    content: "Add to cart";
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 20%;
    background-color: red;
    position: absolute;
    bottom:0;
    top:300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor:pointer;
}
.box7:hover:before{
    opacity:1 ;
    visibility: visible;
    top:290px
}
.box7:hover .bi-suit-heart{
    display: block;
    cursor:pointer;
    font-size: 35px;
}
.box8{
    width:360px;
    height:360px;
    background-color: black;
    border-bottom:4px solid red ;
    position: relative;
    overflow: hidden;
}
.box8::before{
    content: "Add to cart";
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 20%;
    background-color: red;
    position: absolute;
    bottom:0;
    top:300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor:pointer;
}
.box8:hover:before{
    opacity:1 ;
    visibility: visible;
    top:290px
}
.box8:hover .bi-suit-heart{
    display: block;
    cursor:pointer;
    font-size: 35px;
}
.box9{
    width:360px;
    height:360px;
    background-color: black;
    border-bottom:4px solid red ;
    position: relative;
    overflow: hidden;
}
.box9::before{
    content: "Add to cart";
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 20%;
    background-color: red;
    position: absolute;
    bottom:0;
    top:300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor:pointer;
}
.box9:hover:before{
    opacity:1 ;
    visibility: visible;
    top:290px
}
.box9:hover .bi-suit-heart{
    display: block;
    cursor:pointer;
    font-size: 35px;
}
.box10{
    width:360px;
    height:360px;
    background-color: black;
    border-bottom:4px solid red ;
    position: relative;
    overflow: hidden;
}
.box10::before{
    content: "Add to cart";
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 70px;
    width: 100%;
    height: 20%;
    background-color: red;
    position: absolute;
    bottom:0;
    top:300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor:pointer;
}
.box10:hover:before{
    opacity:1 ;
    visibility: visible;
    top:290px
}
.box10:hover .bi-suit-heart{
    display: block;
    cursor:pointer;
    font-size: 35px;
}
.pic5{
    width: 100%;
    height: 100%;
}
.pic6{
    width: 100%;
    height: 100%;
}
.pic7{
    width: 100%;
    height: 100%;
}
.pic8{
    width: 100%;
    height: 100%;
}
.pic9{
    width: 100%;
    height: 100%;
}
.pic10{
    width: 100%;
    height: 100%;
}
.box11{
    width:23.8%;
    height: 90px;
    background-color: white;
    margin-top:-38%;
    margin-left:12.2%   
}
.box11 a{
    text-decoration: none;
    color:black;
    line-height: 65px;
    margin-left:45px;
    font-size: 25px;
    font-family: Bell MT;
    font-weight: bold;
}
.cs2{
    color:rgba(65, 64, 64, 0.849);
    font-size: 20px;
    padding-left:130px;
    line-height:0px ;
}
.box12{
    width:23.8%;
    height: 90px;
    background-color: white;
    margin-top:-90px;
    margin-left:38%   
}
.box12 a{
    text-decoration: none;
    color:black;
    line-height: 65px;
    margin-left:45px;
    font-size: 25px;
    font-family: Bell MT;
    font-weight: bold;
}
.cs3{
    color:rgba(65, 64, 64, 0.849);
    font-size: 20px;
    padding-left:130px;
    line-height:0px ;
}
.box13{
    width:23.8%;
    height: 90px;
    background-color: white;
    margin-top:-90px;
    margin-left:63.9%   
}
.box13 a{
    text-decoration: none;
    color:rgba(88, 86, 86, 0.849);
    line-height: 65px;
    margin-left:45px;
    font-size: 25px;
    font-family: Bell MT;
    font-weight: bold;
}
.cs4{
    color:rgba(65, 64, 64, 0.849);
    font-size: 20px;
    padding-left:130px;
    line-height:0px ;
}
.box14{
    width:23.8%;
    height: 90px;
    background-color: white;
    margin-top:425px;
    margin-left:63.9%   
}
.box14 a{
    text-decoration: none;
    color:black;
    line-height: 65px;
    margin-left:45px;
    font-size: 25px;
    font-family: Bell MT;
    font-weight: bold;
}
.cs5{
    color:rgba(65, 64, 64, 0.849);
    font-size: 20px;
    padding-left:130px;
    line-height:0px ;
}
.box15{
    width:23.8%;
    height: 90px;
    background-color: white;
    margin-top:-90px;
    margin-left:38%   
}
.box15 a{
    text-decoration: none;
    color:black;
    line-height: 65px;
    margin-left:45px;
    font-size: 25px;
    font-family: Bell MT;
    font-weight: bold;
}
.cs6{
    color:rgba(65, 64, 64, 0.849);
    font-size: 20px;
    padding-left:130px;
    line-height:0px ;
}
.box16{
    width:23.8%;
    height: 90px;
    background-color: white;
    margin-top:-90px;
    margin-left:12.2%   
}
.box16 a{
    text-decoration: none;
    color:black;
    line-height: 65px;
    margin-left:45px;
    font-size: 25px;
    font-family: Bell MT;
    font-weight: bold;
}
.cs7{
    color:rgba(65, 64, 64, 0.849);
    font-size: 20px;
    padding-left:130px;
    line-height:0px ;
}
.box17{
    width: 100%;
    height: 600px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box18{
    width:93%;
    height: 75%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box19{
    width:32%;
    height: 100%;
    background-color: red;
}
.box20{
    width:32%;
    height: 100%;
    background-color: red;
}
.box21{
    width:32%;
    height: 100%;
    background-color:red;
}
.cs8{
    width: 100px;
    height: 100px;
    padding-top:50px;
    padding-left:35px
}
.h1{
    color:white;
    padding-top:30px;
    padding-left:40px
}
.h2{
    color:white;
    padding-top:50px;
    padding-left:40px;
    font-size: 22px;
}
.h3{
    color:white;
    padding-top:10px;
    padding-left:40px;
    font-size: 22px;
}
.h4{
    color:white;
    padding-top:10px;
    padding-left:40px;
    font-size: 22px;
}
.cs9{
    width: 100px;
    height: 100px;
    padding-top:50px;
    padding-left:35px
}
.h5{
    color:white;
    padding-top:30px;
    padding-left:40px
}
.h6{
    color:white;
    padding-top:50px;
    padding-left:40px;
    font-size: 22px;
}
.h7{
    color:white;
    padding-top:10px;
    padding-left:40px;
    font-size: 22px;
}
.h8{
    color:white;
    padding-top:10px;
    padding-left:40px;
    font-size: 22px;
}
.cs10{
    width: 100px;
    height: 100px;
    padding-top:50px;
    padding-left:35px
}
.h9{
    color:white;
    padding-top:30px;
    padding-left:40px
}
.h10{
    color:white;
    padding-top:50px;
    padding-left:40px;
    font-size: 22px;
}
.h11{
    color:white;
    padding-top:10px;
    padding-left:40px;
    font-size: 22px;
}
.h12{
    color:white;
    padding-top:10px;
    padding-left:40px;
    font-size: 22px;
}
.footer{
    width: 100%;
    height: 500px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box35{
    width:25%;
    height: 100%;
    background-color:white;
}
.box36{
    width:25%;
    height: 100%;
    background-color: white;
}
.box37{
    width:25%;
    height: 100%;
    background-color: white;
}
.box38{
    width:25%;
    height: 100%;
    background-color: white;
}
.cs12{
    width:200px;
    height: 40px;
    padding-top:100px;
    padding-left:50px; 
}
.h32{
    color:rgb(62, 64, 66);
    font-size:20px;
    padding-top: 70px;
    padding-left:50px
}
.h33{
    color:rgb(62, 64, 66);
    font-size:20px;
    padding-top: 10px;
    padding-left:50px
}
.h34{
    color:rgb(62, 64, 66);
    font-size:20px;
    padding-top: 10px;
    padding-left:50px
}
.h35{
    padding-left:20px;
    padding-top: 100px;
}
.box36 ul{
	margin-left:0px;
	padding:0px;
	list-style:none;
}
.box36 ul li{
    display:block;
    padding-top:15px;
	padding-bottom:15px; 
	padding-left:25px
}
.box36 ul li a{
	text-decoration:none;
	color:rgb(82, 76, 76);
	font-size:25px;
	transition: all 0.6s ease
}	

.box36 ul li a:hover{
	color:red;
    padding-left:15px
}
.h36{
    padding-left:20px;
    padding-top: 100px;
}
.box37 ul{
	margin-left:0px;
	padding:0px;
	list-style:none;
}
.box37 ul li{
	display:block;
	padding-top:15px;
	padding-bottom:15px; 
	padding-left:25px
}
.box37 ul li a{
	text-decoration:none;
	color:rgb(82, 76, 76);
	font-size:25px;
	transition: all 0.6s ease
}	

.box37 ul li a:hover{
	color:red;
    padding-left:15px
}
.h37{
    padding-left:20px;
    padding-top: 100px;
}
.box38 ul{
	margin-left:0px;
	padding:0px;
	list-style:none;
}
.box38 ul li{
	display:block;
	padding-top:18px;
	padding-bottom:18px; 
	padding-left:25px
}
.box38 ul li a{
	text-decoration:none;
	color:rgb(82, 76, 76);
	font-size:22px;
	transition: all 0.6s ease
}	

.box38 ul li a:hover{
	color:red;
    padding-left:15px
}
.box39{
    width: 100%;
    height: 200px;
    background-color: white;
    position: relative;
}
.box40{
    width:65%;
    height:100%;
    background-color:white;
    position: absolute;
}
.h38{
    line-height:200px;
    font-size: 25px;
    color:rgb(82, 76, 76);
    position: absolute;
}
.bi-suit-heart-fill{
    color:red
}
.box40 a{
    color:red;
    text-decoration: none;
    font-size:25px;
    line-height:200px;
    position: absolute;
    left:840px
}
.box41{
    width:25%;
    height: 100%;
    background-color:white;
    position: absolute;
    right: 0px;
}
.box41 ul{
    padding:0px;
    margin:0px;
    list-style:none;
    float:right
}
.box41 ul li{
    display:inline;
	padding-left:18px;
	padding-right:18px; 
}
.box41 ul li a{
    color:black;
    font-size: 18px;
    line-height: 200px;
}
.box41 ul li a i{
    transition: all 0.6s ease;
}
.box41 ul li a i:hover{
    color:red;
    transform: scaleX(-1);
}
.box27{
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
}
.box28{
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0px;
}
.pic2{
    width: 100%;
    height: 100%;
}
.h3{
    font-size: 24px;
    position: absolute;
    top:20px;
    left:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }
    .h4{
    font-size: 20px;
    position: absolute;
    top:85px;
    left:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .btn2{
    width:90px;
    height: 40px;
    background-color: #C8A97E;
    border: none;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    position: absolute;
    bottom:3px;
    left:20px;
    transition: all 0.6s ease;
    }
    .btn2:hover{
    background-color: white;
    border: 1px solid #C8A97E;
    color: #C8A97E;
    cursor: pointer;
    }